* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html {
  scroll-behavior: s/mooth;
}

/* header */

.page-menu {
  position: sticky;
  top: 0;
  /* right: 0;
  width: 1600px; */
  background-image: url("./photoshop/design-assets/bgk-header.png");
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20rem;
}

@media screen and (max-width: 1400px) {
  .page-menu {
    flex-direction: column;
    padding: 0rem 0;
  }
}
nav {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}

.header-nav {
  display: flex;
  list-style: none;
  gap: 10px;
}

.header-nav a {
  transition: 0.3s ease;
}

.header-nav a:hover {
  color: #65d5c9;
  transition: 0.3s ease;
}

.header-nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.page-top {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background-image: url("./photoshop/design-assets/bgk-header.png");
  min-height: 670px;
  max-height: auto;
  max-width: 1600px;
  min-width: auto;
  margin: auto;
}

.hero-text {
  padding: 10% 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: auto;
}

.hero-text p {
  text-align: center;
}

.hero-text h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  text-align: center;
}

.main-logo {
  display: flex;
}

.header-company-name {
  color: #65d5c9;
  margin: 1rem;
  font-size: 2rem;
}

#hero-section header-nav {
  background-color: aqua;
}

.hero-line {
  margin: -1.5rem;
  border: 0.1rem solid #65d5c9;
}

.learn-more_btn {
  letter-spacing: 0.1rem;
  list-style: none;
  text-decoration: none;
  color: #65d5c9;
  border: solid #65d5c9;
  border-width: 2px;
  padding: 1rem;
  font-size: 0.75rem;
  border-radius: 3px;
}

/* STORY SECTION */

.story-section {
  padding: 40px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
  background: #fff;
  display: flex;
  min-height: 300px;
}

.story-logo {
  background: #fff;
  margin: 0px 80px 0px 80px;
  min-width: 100px;
}

.story-img {
  background: #fff;
  width: 100%;
}

.story-title {
  background: #fff;
  margin-bottom: -0.6rem;
  text-align: left;
}

.story-text {
  margin: 0;
  max-width: 500px;
  background: #fff;
}

.story-text > p {
  margin-top: 2rem;
  background: #fff;
}

.btn-story {
  margin-top: 2rem;
  background: none;
  border-radius: 3px;
  background: #fff;
  border-color: #4fd5c6;
  color: #4fd5c6;
  padding: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  text-decoration: none;
}

/* STORY SECTION END */

/* watch */

#watch-section {
  display: fleX;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
  background-image: url("./photoshop/design-assets/bgk-middle.png");
  height: 550px;
  max-width: 1600px;
  margin: auto auto;
}

/* Expertise */

#expertise-section {
  color: rgb(4, 2, 4);
}

.expertise {
  max-width: 800px;
  margin: 20px auto;
  padding: 2% 15%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: -1rem;
}
h2 {
  text-align: center;
  margin-bottom: 10px;
}
.exp-description {
  text-align: center;
  margin-bottom: 8px;
}

.exp-line {
  margin: 1rem;
  border: 0.1rem solid #878a8a;
}

.exp-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  border: 2px #878a8a;
}

.exp {
  text-align: center;
  margin-top: 20px;
}

.exp-img {
  background: #fff;
  margin-top: 10px;
}

.exp-title {
  background: #fff;
  margin-bottom: 10px;
  margin-top: 20px;
}

/* TEAM SECTION */

/* TEAM SECTION END */

/* Footer styling */

.footer {
  display: flex;
  flex-direction: column;
  background-image: url("./photoshop/design-assets/bgk-footer.png");
}

.footer-sections-wrapper {
  width: 60%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  color: white;
}

.box {
  display: flex;
  flex-direction: column;
}

.sub-title {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.sub-title1 {
  color: #4fd5c6;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0;
  text-transform: lowercase;
  font-size: 2rem;
  font-weight: 100;
}

.paragraph {
  line-height: 1.4rem;
}

.footer-span {
  font-family: 200;
}

.studio-items {
  list-style: none;
  padding: 0;
  line-height: 1.6rem;
}

.studio-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.location-icon {
  height: 1rem;
  margin-top: 0.5rem;
}

.studio-item-link {
  text-decoration: none;
  color: white;
}

.subscribe-form {
  margin-bottom: 1rem;
}

.input-field {
  padding: 0.7rem;
  background-color: transparent;
  border: 1px solid white;

  &::placeholder {
    color: white;
  }
}

.subscribe-btn {
  padding: 0.7rem;
  background-color: rgba(255, 255, 255, 0.579);
}

.btn-icon {
  height: 0.9rem;
  width: 3rem;
  object-fit: contain;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.studio-item {
  margin-bottom: 0.5rem;
}

.policies-copyright-wrapper {
  width: 60%;
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.policies {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.policy {
}

.policy-link {
  color: white;
  text-decoration: none;
}

.copyright {
  color: white;
}
