* {
  margin: 0 auto;
  background-color: #2b2a52;
}
/* Story section */

/* #our_story-section
  .storycontainer
  .story-section
  .story-logo
  .story-img
  .story-text
  .story-title
  .btn-story */

.story-section {
  padding: 40px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
  background: #fff;
  display: flex;
  min-height: 300px;
}

.story-logo {
  background: #fff;
  margin: 0px 80px 0px 80px;
  min-width: 100px;
}

.story-img {
  background: #fff;
  width: 100%;
}

.story-title {
  background: #fff;
  margin-bottom: -10px;
}

.story-text {
  margin: 0;
  max-width: 500px;
  background: #fff;
}

.story-text > p {
  margin-top: 35px;
  background: #fff;
}

.btn-story {
  margin-top: 35px;
  background: none;
  border-radius: 3px;
  background: #fff;
  border-color: #4fd5c6;
  color: #4fd5c6;
  padding: 10px;
  letter-spacing: 1px;
  font-weight: 500;
}
